In [78]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import matplotlib.patches as mpatches
import numpy as np
import folium
from folium import plugins
from folium.plugins import MarkerCluster

cities_df = pd.read_csv('../data/cities.csv')
lines_df = pd.read_csv('../data/lines.csv')
station_lines_df = pd.read_csv('../data/station_lines.csv')
stations_df = pd.read_csv('../data/stations.csv')
systems_df= pd.read_csv('../data/systems.csv')
track_lines_df = pd.read_csv('../data/track_lines.csv')
track_df = pd.read_csv('../data/tracks.csv')

In [79]:

cities_df.head()
cities_df["Long"] = cities_df["coords"].apply(lambda x: x.split('POINT(')[1].split(' ')[0])
cities_df["Lat"] = cities_df["coords"].apply(lambda x: x.split('POINT(')[1].split(' ')[1].split(")")[0])
cities_df = cities_df.drop(["country_state", "coords"], axis = 1)
cities_df

cities_df["start_year"] = cities_df["start_year"].fillna(0)
cities_df.info()

fig = px.scatter_geo(cities_df, 
                     lat='Lat', 
                     lon='Long',
                     hover_name='name', 
                     projection='natural earth',
                     title=' Map')
fig.show()

london_maybe = cities_df[cities_df["id"]==69]
london_maybe

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 334 entries, 0 to 333
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          334 non-null    int64
 1   name        334 non-null    object
 2   start_year  334 non-null    float64
 3   url_name    334 non-null    object
 4   country     334 non-null    object
 5   Long        334 non-null    object
 6   Lat         334 non-null    object
dtypes: float64(1), int64(1), object(5)
memory usage: 18.4+ KB

     id    name  start_year url_name  country            Long          Lat
333  69  London      1833.0   london  England  -0.08333333333  51.53333333

In [80]:
lines_df.info()
lines_df.head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1343 entries, 0 to 1342
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 1343 non-null   int64
 1   city_id            1343 non-null   int64
 2   name               1343 non-null   object
 3   url_name           1343 non-null   object
 4   color              1343 non-null   object
 5   system_id          1343 non-null   int64
 6   transport_mode_id  926 non-null    float64
dtypes: float64(1), int64(3), object(3)
memory usage: 73.6+ KB

,id,city_id,name,url_name,color,system_id,transport_mode_id
0,43,4,Línea 2,43-linea-2,#ffbe2e,267,4.0
1,75,34,Línea 3 Metro de Caracas,75-linea-3-metro-de-caracas,#000,119,NaN
2,107,126,Línea 1,107-linea-1,#434343,249,NaN
3,604,74,La navette,604-la-navette,#009ab9,346,NaN
4,61,66,Línea 1 (Tramo 1A),61-linea-1,#49aa43,250,NaN
5,1471,91,Tokaido Shinkansen,1471-tokaido-shinkansen,#0000ff,551,1.0
6,5,1,A,a,#00b3da,254,4.0
7,168,261,Línea 1,168-linea-1,#f58223,256,NaN
8,219,110,14,219-red-line,#d0021b,257,4.0
9,45,4,Línea 4,45-linea-4,#292d91,267,4.0

In [81]:
station_lines_df.info()
station_lines_df[station_lines_df["city_id"]==69]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16242 entries, 0 to 16241
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          16242 non-null  int64
 1   station_id  16242 non-null  int64
 2   line_id     16242 non-null  int64
 3   city_id     16242 non-null  int64
 4   created_at  16242 non-null  object
 5   updated_at  16242 non-null  object
dtypes: int64(4), object(2)
memory usage: 761.5+ KB

,id,station_id,line_id,city_id,created_at,updated_at
464,524,940,146,69,2017-11-21 00:00:00,2017-11-21 00:00:00
659,721,1226,139,69,2017-11-21 00:00:00,2017-11-21 00:00:00
739,803,1204,139,69,2017-11-21 00:00:00,2017-11-21 00:00:00
761,825,1205,139,69,2017-11-21 00:00:00,2017-11-21 00:00:00
784,848,1299,160,69,2017-11-21 00:00:00,2017-11-21 00:00:00
...,...,...,...,...,...,...
16040,16556,16226,172,69,2019-02-14 23:22:14.115157,2019-02-14 23:22:14.115157
16041,16557,16227,172,69,2019-02-14 23:23:08.891678,2019-02-14 23:23:08.891678
16042,16558,16228,211,69,2019-02-14 23:23:08.911125,2019-02-14 23:23:08.911125
16043,16559,16229,214,69,2019-02-14 23:23:38.160309,2019-02-14 23:23:38.160309
16044,16560,16230,202,69,2019-02-14 23:24:05.067605,2019-02-14 23:24:05.067605

stations_tokyo_2000=stations[stations['city_id']==114][0:2000]
Long=139.75
Lat=35.67
tokyo_map=folium.Map([Lat,Long],zoom_start=12)

tokyo_stations_map=plugins.MarkerCluster().add_to(tokyo_map)
for lat,lon,label in zip(stations_tokyo_2000.Lat,stations_tokyo_2000.Long,stations_tokyo_2000.stations_name):
    folium.Marker(location=[lat,lon],icon=None,popup=label).add_to(tokyo_stations_map)
tokyo_map.add_child(tokyo_stations_map)

tokyo_map

In [82]:
stations_df.info()
#stations_df.head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15794 entries, 0 to 15793
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          15794 non-null  int64
 1   name        14248 non-null  object
 2   geometry    15794 non-null  object
 3   buildstart  14342 non-null  float64
 4   opening     15721 non-null  float64
 5   closure     15713 non-null  float64
 6   city_id     15794 non-null  int64
dtypes: float64(3), int64(2), object(2)
memory usage: 863.9+ KB

In [83]:


stations_df["Long"] = stations_df["geometry"].apply(lambda x: x.split('POINT(')[1].split(' ')[0])
stations_df["Lat"] = stations_df["geometry"].apply(lambda x: x.split('POINT(')[1].split(' ')[1].split(")")[0])
London = stations_df[stations_df["city_id"]==69]
london_lat = cities_df[cities_df["id"] == 69]["Lat"]
london_long = cities_df[cities_df["id"] == 69]["Long"]
Lat = london_lat.iloc[0]
Long = london_long.iloc[0]

london_map=folium.Map([Lat,Long],zoom_start=12)

# 2. Create the MarkerCluster and add it to the map
marker_cluster = MarkerCluster().add_to(london_map)

# 3. Add markers to the *MarkerCluster*
for lat, lon, label in zip(London.Lat, London.Long, London.name):
    folium.Marker(location=[lat, lon], popup=label).add_to(marker_cluster)

#london_map

In [84]:
systems_df.info()
systems_df[systems_df["city_id"]==69]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 488 entries, 0 to 487
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id       488 non-null    int64
 1   city_id  488 non-null    int64
 2   name     287 non-null    object
dtypes: int64(2), object(1)
memory usage: 11.6+ KB

      id  city_id                name
232  261       69       National Rail
233  262       69   London Overground
234  259       69  London Underground
235  263       69               Other

In [85]:
track_lines_df.info()
track_lines_df[track_lines_df['city_id']==69]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9757 entries, 0 to 9756
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          9757 non-null   int64
 1   section_id  9757 non-null   int64
 2   line_id     9757 non-null   int64
 3   created_at  9757 non-null   object
 4   updated_at  9757 non-null   object
 5   city_id     9757 non-null   int64
dtypes: int64(4), object(2)
memory usage: 457.5+ KB

,id,section_id,line_id,created_at,updated_at,city_id
2536,2499,917,224,2017-11-21 00:00:00,2017-11-21 00:00:00,69
2537,2500,921,172,2017-11-21 00:00:00,2017-11-21 00:00:00,69
2538,2501,918,209,2017-11-21 00:00:00,2017-11-21 00:00:00,69
2539,2503,920,171,2017-11-21 00:00:00,2017-11-21 00:00:00,69
2540,2504,919,171,2017-11-21 00:00:00,2017-11-21 00:00:00,69
...,...,...,...,...,...,...
6470,2476,916,224,2017-11-21 00:00:00,2017-11-21 00:00:00,69
6471,2477,922,172,2017-11-21 00:00:00,2017-11-21 00:00:00,69
6472,2478,923,172,2017-11-21 00:00:00,2017-11-21 00:00:00,69
7117,3662,517,162,2017-11-21 00:00:00,2017-11-21 00:00:00,69
9019,9911,836,215,2019-02-14 23:25:31.824735,2019-02-14 23:25:31.824735,69

In [100]:
track_df.info()
track_df.head(10)
track_df[track_df["city_id"] == 69]
track_df["geometry"][0]

#track_df["Long"] = track_df["coords"].apply(lambda x: x.split('Line(')[1].split(' ')[0])
#track_df["Lat"] = track_df["coords"].apply(lambda x: x.split('POINT(')[1].split(' ')[1].split(")")[0])

def get_lat_long(x):
    if x == "LINESTRING Z EMPTY":
        return []
    else:
        x = x[:-1]
        lat_long_string= x.split('LINESTRING(')[1]
        lat_long_list = lat_long_string.split(",")
        lst = []
        for item in lat_long_list:
            lst.append(item.split(" "))
        return lst
    


track_df["Lat Long List"] = track_df["geometry"].apply(get_lat_long)

track_df["Lat Long List"].head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9271 entries, 0 to 9270
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             9271 non-null   int64
 1   geometry       9271 non-null   object
 2   buildstart     7663 non-null   float64
 3   opening        9250 non-null   float64
 4   closure        9240 non-null   float64
 5   length         9271 non-null   int64
 6   city_id        9271 non-null   int64
 7   Lat Long List  9271 non-null   object
dtypes: float64(3), int64(3), object(2)
memory usage: 579.6+ KB

0    [[19.0817752, 47.5005079], [19.0817355, 47.500...
1    [[16.4151057, 48.1907238], [16.4156455, 48.190...
2    [[16.4164437, 48.1839655], [16.4161534, 48.183...
3    [[16.4164901, 48.1839473], [16.416198, 48.1836...
4    [[16.415259, 48.1908074], [16.4153634, 48.1907...
5    [[16.4120893, 48.1927723], [16.4130719, 48.192...
6    [[16.412035, 48.1927423], [16.4129962, 48.1921...
7    [[16.3949694, 48.2005582], [16.3984035, 48.198...
8    [[139.387327940585, 35.3676500392482], [139.38...
9    [[139.407314018783, 35.3308431975794], [139.40...
Name: Lat Long List, dtype: object